<header>
  <nav class="header">
    <a class="home btn btn-default" ui-sref="landing.home">ChainTrader</a>
    <span class="nav-rest">
      <a class="home btn btn-default" ui-sref=".account" ng-if="auth.isAuth()">Account</a>
      <a class="home btn btn-default" ui-sref=".marketview">Market View</a>
      <a class="home btn btn-default" ui-sref=".login" ng-if="!auth.isAuth()">Log In</a>
      <a class="home btn btn-default" ng-click="auth.signout()" ng-if="auth.isAuth()">Log Out</a>
      <a class="sign-up home btn btn-default" ui-sref=".signup" ng-if="!auth.isAuth()">Sign Up</a>
    </span>
        <span class="nav-ticker" ng-class="tickType">Last Trade: {{ lastTrade.price | currency}}</span>
  </nav>
</header>

<section>
  <div ui-view></div>
</section>

<!-- <footer>
  <a href="https://github.com/chaintrader/exchange">chaintrader.com</a>
</footer> -->
